### Some basic operations on lists

In [52]:
list = [1,2,3,4,5,6,7,8,9,10]


Access elements of a list  -  ZERO BASED INDEX

In [53]:
list[0]

1

In [54]:
len(list)

10

In [ ]:

Access each element of the list using a loop

In [55]:
for item in list:
    print(item)

1
2
3
4
5
6
7
8
9
10


Access each element of the list by their index using a loop

In [57]:
for i in range(len(list)):
    print(list[i])

1
2
3
4
5
6
7
8
9
10


METHODS on lists 

Notice that what we are going to talk about are *methods* on a list object, while len() is a function that takes the list as an argument.

In [34]:
list.append(11)

In [35]:
list.index(1)

0

In [36]:
list.insert(1,5)
list

[1, 5, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [37]:
list.remove(5)

Please note that this removes the first occurance of the number from the list

In [38]:
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [39]:
list.insert(1,5)
list.pop(5)
print(list)

[1, 5, 2, 3, 4, 6, 7, 8, 9, 10, 11]

In [41]:
list.insert(1,5)
print(list)
list.index(5)

[1, 5, 5, 5, 2, 3, 4, 6, 7, 8, 9, 10, 11]

1

### QUIZ

What can you do to find the index of all the duplicate values in the list

# Combining storage and iteration

This is the main idea behind Lists

In [1]:
lst = []

for i in range(10):
    lst.append(i)

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
len(lst)

10

A shorter version of the above code is shown below:

In [3]:
lst = [i for i in range(10)]
print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

We can further complicate the statement by adding a CONDITION as well

In [2]:
lst = [i for i in range(20) if i >= 5]
print(lst)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [3]:
range(lst)

TypeError: 'list' object cannot be interpreted as an integer

Multiple For-Loops in List Comprehensions

In [5]:
lst_lst = [[1,2,3], [4,5,6], [7,8,9]]

lst = []

for x in lst_lst:
    for y in x:
        lst.append(y)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
lst_lst = [[1,2,3], [4,5,6], [7,8,9]]
lst = [y for x in lst_lst for y in x]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

Let's complicate the things a little more

In [8]:
lst_lst = [[1,2,3,4,5], [6,7,8], [9,10]]

lst = [y for x in lst_lst if len(x) < 4 for y in x if y % 2 == 0]
print(lst)

[6, 8, 10]

# Practical Uses for List Comprehensions

### Reading Multiple Files

In [18]:
import os
import pandas as pd
file_list = [f for f in os.listdir('/home/dawg/Desktop/Dummy') if f.endswith('.csv')]

In [19]:
file_list

['Untitled 1.csv', 'Untitled 2.csv', 'Untitled 3.csv']


As we can see the above code gives us a list of all the files in the folder that end with the 
extension of .csv

To read the files into python, we will now use the read_csv function in the pandas library. We will discuss in detail about the library later in the lectures. 

Details on read_csv can be found here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

Note: Pandas provide an easy way to read the csv files. We use import csv and with open() and close() functions
https://docs.python.org/2/library/csv.html

In [25]:
path = os.path.join('/home/dawg/Desktop/Dummy', file_list[0])
print(path)

/home/dawg/Desktop/Dummy/Untitled 1.csv

In [26]:
data_sets = [pd.read_csv(os.path.join('/home/dawg/Desktop/Dummy', f)) for f in file_list]
data = pd.concat(data_sets, axis=1)
data.head()

   A  B  'A'  'B'  'A'  'B'
0  1  2    1    2    1    2
1  2  2    2    2    2    2
2  3  2    3    2    3    2
3  4  2    4    2    4    2
4  5  2    5    2    5    2


Essentially we did all that with just three lines of code

In [28]:
file_list = [f for f in os.listdir('/home/dawg/Desktop/Dummy') if f.endswith('.csv')]
data_sets = [pd.read_csv(os.path.join('/home/dawg/Desktop/Dummy', f)) for f in file_list]
data = pd.concat(data_sets, axis=1)

In [27]:
import os
import pandas as pd
file_list = [f for f in os.listdir('/home/dawg/Desktop/Dummy') if f.endswith('.csv')]
for f in file_list:
    path = "/home/dawg/Desktop/Dummy/"+f
    print(path)
    data_set = pd.read_csv(path,error_bad_lines=False)
    print(data_set.head())

/home/dawg/Desktop/Dummy/Untitled 1.csv
   A  B
0  1  2
1  2  2
2  3  2
3  4  2
4  5  2
/home/dawg/Desktop/Dummy/Untitled 2.csv
   'A'  'B'
0    1    2
1    2    2
2    3    2
3    4    2
4    5    2
/home/dawg/Desktop/Dummy/Untitled 3.csv
   'A'  'B'
0    1    2
1    2    2
2    3    2
3    4    2
4    5    2

### Selecting Data Frame Columns Based on Conditions

In [36]:
data = pd.read_csv('/home/dawg/Documents/Ironhack/Lectures/Data/animalsOriginal.csv')

selected_columns = [col for col in data._get_numeric_data() if data[col].mean() > 200]
print(selected_columns)

['bodywt']

In [34]:
data['brainwt'].mean()

198.79429032258062

In [35]:
data['bodywt'].mean()

283.1353548387098

In [38]:
data.columns[0]

'brainwt'

In [39]:
type(data.columns)

pandas.core.indexes.base.Index

In [45]:
data.columns.tolist()

['brainwt', 'bodywt', 'animal']

In [44]:
list(data)

['brainwt', 'bodywt', 'animal']