# Challenge 1 - Multiple Regression Analysis

# Before your start:

    Read the README.md file
    Comment as much as you can and use the resources (README.md file)
    Happy learning!

In this lab exercise we will work with vehicles.csv data set. You can find a copy of the dataset in the git hub
folder. The objective of this exercise is to predict CO2 emissions for vehicles. Please follow the steps and 
provide your code along with comments.

Import the required libraries as you would go along in the exercise
Load the data set and check for numerical and categorical variables

In [3]:
## Import the libraries for loading the data set 
## Load the dataset

In [25]:
## You can use the warnings library to ignore warnings that might show when you run the code
import warnings
warnings.filterwarnings('ignore')

In [23]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('/Users/himanshuaggarwal/Datasets/vehicles/vehicles.csv')
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [15]:
data.columns   #same as list(data)
data.dtypes

Make                        object
Model                       object
Year                         int64
Engine Displacement        float64
Cylinders                  float64
Transmission                object
Drivetrain                  object
Vehicle Class               object
Fuel Type                   object
Fuel Barrels/Year          float64
City MPG                     int64
Highway MPG                  int64
Combined MPG                 int64
CO2 Emission Grams/Mile    float64
Fuel Cost/Year               int64
dtype: object

In this exercise, we are not going to use all the variables in the dataset to make the predictions. Here is the
list of the numerical and categorical variables that we will use:
    
    Numerical : Engine Displacement, Fuel Barrels/Year, Combined MPG
    Categorical : Cylinders, Fuel Type, Transmission, Drivetrain

### Data Pre-processing (Handling Numerical variables)

In [ ]:
In this next step we will perform the data pre-processing operations on the specified numerical varibles

In [17]:
## Store the specified numerical columns data as a dataframe. Give it the name "numerics"

In [27]:
numerics = data[['Engine Displacement', 'Fuel Barrels/Year', 'Combined MPG']]

In [28]:
## Scale the variables using the MinMax scaler

Hint: Since we are using "numerics" to store the nummerical variables we can pass "numerics" directly
as MinMaxScaler().fit(numerics)

In [30]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler().fit(numerics)
transformer.transform(numerics)

array([[0.24358974, 0.4110142 , 0.20408163],
       [0.46153846, 0.53787268, 0.12244898],
       [0.24358974, 0.43678233, 0.18367347],
       ...,
       [0.05128205, 0.19341667, 0.59183673],
       [0.03846154, 0.19341667, 0.59183673],
       [0.03846154, 0.19897931, 0.57142857]])

### Data Pre-processing (Handling Categorical variables)

In [ ]:
In this step we will perform the data pre-processing operations on the specified categorical varibles

In [31]:
## Similar to numerical variables, store the specified categorical columns data as a dataframe. 
## Give it the name "cats"

In [32]:
cats = data[['Cylinders', 'Fuel Type', 'Transmission', 'Drivetrain']]