In [55]:
import pandas as pd
data = pd.read_csv('/Users/himanshuaggarwal/ironhack/himanshu/data/vehicles/vehicles_messy.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [56]:
data.head()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,15.695714,0.0,0.0,0.0,19,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
1,29.964545,0.0,0.0,0.0,9,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
2,12.207778,0.0,0.0,0.0,23,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
3,29.964545,0.0,0.0,0.0,10,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0
4,17.347895,0.0,0.0,0.0,17,0.0,0,0.0,0.0,0.0,...,NaN,NaN,0.0,NaN,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,NaN,0,0,0

In [57]:
data.columns

Index(['barrels08', 'barrelsA08', 'charge120', 'charge240', 'city08',
       'city08U', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2',
       'co2A', 'co2TailpipeAGpm', 'co2TailpipeGpm', 'comb08', 'comb08U',
       'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'cylinders',
       'displ', 'drive', 'engId', 'eng_dscr', 'feScore', 'fuelCost08',
       'fuelCostA08', 'fuelType', 'fuelType1', 'ghgScore', 'ghgScoreA',
       'highway08', 'highway08U', 'highwayA08', 'highwayA08U', 'highwayCD',
       'highwayE', 'highwayUF', 'hlv', 'hpv', 'id', 'lv2', 'lv4', 'make',
       'model', 'mpgData', 'phevBlended', 'pv2', 'pv4', 'range', 'rangeCity',
       'rangeCityA', 'rangeHwy', 'rangeHwyA', 'trany', 'UCity', 'UCityA',
       'UHighway', 'UHighwayA', 'VClass', 'year', 'youSaveSpend', 'guzzler',
       'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA',
       'evMotor', 'mfrCode', 'c240Dscr', 'charge240b', 'c240bDscr',
       'createdOn', 'modifiedOn', 'startStop', 'phevCity', 'phevHwy',
       'phevComb'],
      dtype='object')

In [58]:
data['fuelType'].head(4)

0    Regular
1    Regular
2    Regular
3    Regular
Name: fuelType, dtype: object

In [59]:
data.dtypes

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
eng_dscr            object
feScore              int64
fuelCost08           int64
fuelCostA08          int64
                    ...
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
guzzler             object
trans_dscr          object
tCharger            object
sCharger            object
atvType             object
fuelType2           object
rangeA              object
evMotor             object
mfrCode             object
c240Dscr            object
charge240b         float64
c240bDscr           object
createdOn           object
modifiedOn          object
startStop           object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 83, dtype: object

In [60]:
data.isnull().head(3)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,mfrCode,c240Dscr,charge240b,c240bDscr,createdOn,modifiedOn,startStop,phevCity,phevHwy,phevComb
0,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,True,True,False,True,False,False,True,False,False,False

In [61]:
null_cols = data.isnull().sum()
# print(null_cols)
null_cols[null_cols > 0]

cylinders       123
displ           120
drive          1189
eng_dscr      15403
trany            11
guzzler       35562
trans_dscr    22796
tCharger      32657
sCharger      37177
atvType       34771
fuelType2     36435
rangeA        36440
evMotor       37281
mfrCode       30818
c240Dscr      37806
c240bDscr     37807
startStop     31705
dtype: int64

In [62]:
type(null_cols)

pandas.core.series.Series

In [63]:
data.shape

(37843, 83)

In [64]:
drop_cols = list(null_cols[null_cols > 10000].index)
print(drop_cols)

['eng_dscr', 'guzzler', 'trans_dscr', 'tCharger', 'sCharger', 'atvType', 'fuelType2', 'rangeA', 'evMotor', 'mfrCode', 'c240Dscr', 'c240bDscr', 'startStop']

In [65]:
data = data.drop(drop_cols, axis=1)

In [66]:
null_cols = data.isnull().sum()

In [67]:
null_cols[null_cols > 0]

cylinders     123
displ         120
drive        1189
trany          11
dtype: int64

In [68]:
null_displ = data[(data['displ'].isnull()==True)]
null_displ.head(5)

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
7138,0.240,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Midsize Station Wagons,2000,2750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
7139,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2000,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8143,0.282,0.0,0.0,0.0,81,0.0,0,0.0,0.0,41.0,...,0.0,Sport Utility Vehicle - 2WD,2001,2250,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8144,0.312,0.0,0.0,0.0,74,0.0,0,0.0,0.0,46.0,...,0.0,Two Seaters,2001,1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
8146,0.522,0.0,0.0,0.0,45,0.0,0,0.0,0.0,75.0,...,0.0,Sport Utility Vehicle - 2WD,2001,-1750,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0

In [69]:
extract = ['year', 'make', 'model', 'trany', 'drive','fuelType','cylinders', 'displ']
null_displ = null_displ[extract]
null_displ.head(6)

,year,make,model,trany,drive,fuelType,cylinders,displ
7138,2000,Nissan,Altra EV,NaN,NaN,Electricity,NaN,NaN
7139,2000,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8143,2001,Toyota,RAV4 EV,NaN,2-Wheel Drive,Electricity,NaN,NaN
8144,2001,Ford,Th!nk,NaN,NaN,Electricity,NaN,NaN
8146,2001,Ford,Explorer USPS Electric,NaN,2-Wheel Drive,Electricity,NaN,NaN
8147,2001,Nissan,Hyper-Mini,NaN,NaN,Electricity,NaN,NaN

In [70]:
data.iloc[0]

barrels08                               15.6957
barrelsA08                                    0
charge120                                     0
charge240                                     0
city08                                       19
city08U                                       0
cityA08                                       0
cityA08U                                      0
cityCD                                        0
cityE                                         0
cityUF                                        0
co2                                          -1
co2A                                         -1
co2TailpipeAGpm                               0
co2TailpipeGpm                           423.19
comb08                                       21
comb08U                                       0
combA08                                       0
combA08U                                      0
combE                                         0
combinedCD                                    0
combinedUF                                    0
cylinders                                     4
displ                                         2
drive                          Rear-Wheel Drive
engId                                      9011
feScore                                      -1
fuelCost08                                 1600
fuelCostA08                                   0
fuelType                                Regular
                               ...
hlv                                           0
hpv                                           0
id                                            1
lv2                                           0
lv4                                           0
make                                 Alfa Romeo
model                        Spider Veloce 2000
mpgData                                       Y
phevBlended                               False
pv2                                           0
pv4                                           0
range                                         0
rangeCity                                     0
rangeCityA                                    0
rangeHwy                                      0
rangeHwyA                                     0
trany                              Manual 5-spd
UCity                                   23.3333
UCityA                                        0
UHighway                                     35
UHighwayA                                     0
VClass                              Two Seaters
year                                       1985
youSaveSpend                              -1250
charge240b                                    0
createdOn          Tue Jan 01 00:00:00 EST 2013
modifiedOn         Tue Jan 01 00:00:00 EST 2013
phevCity                                      0
phevHwy                                       0
phevComb                                      0
Name: 0, Length: 70, dtype: object

In [71]:
data.iloc[0][0]

15.695714285714288

In [72]:
data.loc[data['cylinders']==2]

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UHighwayA,VClass,year,youSaveSpend,charge240b,createdOn,modifiedOn,phevCity,phevHwy,phevComb
714,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1994,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
715,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1994,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1785,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1995,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1786,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1995,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1946,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1985,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
1957,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1985,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
8145,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Minicompact Cars,1986,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
10539,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2004,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
10540,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2004,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
11803,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2005,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
11804,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2005,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
12221,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1985,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
13055,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2006,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
13056,17.347895,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2006,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
13330,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1985,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
14318,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1985,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
14455,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2007,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
14456,17.347895,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2007,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
15670,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2008,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
15671,17.347895,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2008,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
16738,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2009,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
16739,17.347895,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2009,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
18235,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1984,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
18236,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1984,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
18238,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1984,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
19478,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1984,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
19479,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1984,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
19480,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1984,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
20432,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2010,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
20433,17.347895,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2010,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
21108,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1987,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
21118,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1987,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
21126,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1987,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
22637,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2011,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
22638,17.347895,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Subcompact Cars,2011,-4000,0.0,Tue Jan 01 00:00:00 EST 2013,Thu Jul 07 00:00:00 EDT 2016,0,0,0
27782,1.563190,0.174,0.0,4.0,41,41.4544,127,127.093,0.0,27.0,...,152.1878,Subcompact Cars,2014,3500,0.0,Thu Jul 17 00:00:00 EDT 2014,Fri Sep 25 00:00:00 EDT 2015,97,79,88
28615,1.563190,0.174,0.0,4.0,41,41.4544,127,127.093,0.0,27.0,...,152.1878,Subcompact Cars,2015,3500,0.0,Wed Feb 18 00:00:00 EST 2015,Tue Feb 02 00:00:00 EST 2016,97,79,88
29922,1.563190,0.174,0.0,4.0,41,41.4014,127,127.093,0.0,27.0,...,152.1878,Subcompact Cars,2016,3500,0.0,Wed Jan 13 00:00:00 EST 2016,Tue Feb 02 00:00:00 EST 2016,97,79,88
31339,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1988,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
31340,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1988,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
31341,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1988,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
32595,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1989,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
32596,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1989,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
32597,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1989,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
33868,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1990,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
33869,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1990,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
33870,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1990,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
35051,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1991,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
35052,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1991,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
35053,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1991,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
36268,19.388824,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1992,-3000,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
36269,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1992,-2500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37464,18.311667,0.000,0.0,0.0,16,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1993,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0
37465,18.311667,0.000,0.0,0.0,15,0.0000,0,0.000,0.0,0.0,...,0.0000,Two Seaters,1993,-4500,0.0,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013,0,0,0

In [73]:
x = (data['cylinders']==0) & (data['displ']!=0)
x.value_counts()

False    37843
dtype: int64

In [74]:
data['cylinders'].value_counts()

4.0     14486
6.0     13184
8.0      8293
5.0       766
12.0      569
3.0       207
10.0      153
2.0        54
16.0        8
Name: cylinders, dtype: int64

In [75]:
data.loc[(data['cylinders']==0) & (data['displ']!=0), 'cylinders'] = 4

In [76]:
import numpy as np
low_variance = []

for col in data._get_numeric_data(): 
    minimum = min(data[col])
    ninety_perc = np.percentile(data[col], 90)
    if ninety_perc == minimum:
        low_variance.append(col)

print(low_variance)
print(minimum)

['barrelsA08', 'charge120', 'charge240', 'cityA08', 'cityA08U', 'cityCD', 'cityE', 'cityUF', 'co2A', 'co2TailpipeAGpm', 'combA08', 'combA08U', 'combE', 'combinedCD', 'combinedUF', 'fuelCostA08', 'ghgScoreA', 'highwayA08', 'highwayA08U', 'highwayCD', 'highwayE', 'highwayUF', 'phevBlended', 'range', 'rangeCity', 'rangeCityA', 'rangeHwy', 'rangeHwyA', 'UCityA', 'UHighwayA', 'charge240b', 'phevCity', 'phevHwy', 'phevComb']
0

/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [77]:
data['barrels08'].min()

0.06000000000000001

In [78]:
data.describe()

,barrels08,barrelsA08,charge120,charge240,city08,city08U,cityA08,cityA08U,cityCD,cityE,...,UCity,UCityA,UHighway,UHighwayA,year,youSaveSpend,charge240b,phevCity,phevHwy,phevComb
count,37843.000000,37843.000000,37843.0,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,...,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000,37843.000000
mean,17.532506,0.216169,0.0,0.023531,17.941389,4.042737,0.520149,0.327163,0.000406,0.184790,...,22.587229,0.652380,33.619221,0.933845,2000.064398,-2658.999022,0.004360,0.069313,0.068203,0.068573
std,4.575950,1.141527,0.0,0.427647,6.660360,9.645820,3.837874,3.542596,0.039918,2.904558,...,9.350163,5.284547,10.048326,6.059456,10.390588,2553.098329,0.142776,1.966806,1.871986,1.913647
min,0.060000,0.000000,0.0,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1984.000000,-22250.000000,0.000000,0.000000,0.000000,0.000000
25%,14.330870,0.000000,0.0,0.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.000000,0.000000,27.100000,0.000000,1990.000000,-4250.000000,0.000000,0.000000,0.000000,0.000000
50%,17.347895,0.000000,0.0,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,21.000000,0.000000,33.000000,0.000000,2001.000000,-2500.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600625,0.000000,0.0,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,25.139300,0.000000,38.109600,0.000000,2009.000000,-750.000000,0.000000,0.000000,0.000000,0.000000
max,47.087143,18.311667,0.0,12.000000,138.000000,138.304000,127.000000,127.093000,5.350000,122.000000,...,197.577100,181.560900,159.100000,152.187800,2017.000000,4000.000000,7.000000,97.000000,79.000000,88.000000

In [79]:
stats = data.describe().transpose()
stats.head()

,count,mean,std,min,25%,50%,75%,max
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000

In [80]:
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
barrels08,37843.0,17.532506,4.575950,0.06,14.33087,17.347895,20.600625,47.087143,6.269755
barrelsA08,37843.0,0.216169,1.141527,0.00,0.00000,0.000000,0.000000,18.311667,0.000000
charge120,37843.0,0.000000,0.000000,0.00,0.00000,0.000000,0.000000,0.000000,0.000000
charge240,37843.0,0.023531,0.427647,0.00,0.00000,0.000000,0.000000,12.000000,0.000000
city08,37843.0,17.941389,6.660360,6.00,15.00000,17.000000,20.000000,138.000000,5.000000
city08U,37843.0,4.042737,9.645820,0.00,0.00000,0.000000,0.000000,138.304000,0.000000
cityA08,37843.0,0.520149,3.837874,0.00,0.00000,0.000000,0.000000,127.000000,0.000000
cityA08U,37843.0,0.327163,3.542596,0.00,0.00000,0.000000,0.000000,127.093000,0.000000
cityCD,37843.0,0.000406,0.039918,0.00,0.00000,0.000000,0.000000,5.350000,0.000000
cityE,37843.0,0.184790,2.904558,0.00,0.00000,0.000000,0.000000,122.000000,0.000000
cityUF,37843.0,0.000706,0.019458,0.00,0.00000,0.000000,0.000000,0.849000,0.000000
co2,37843.0,61.503713,153.387715,-1.00,-1.00000,-1.000000,-1.000000,847.000000,0.000000
co2A,37843.0,5.349919,55.539497,-1.00,-1.00000,-1.000000,-1.000000,719.000000,0.000000
co2TailpipeAGpm,37843.0,17.771433,94.129283,0.00,0.00000,0.000000,0.000000,719.000000,0.000000
co2TailpipeGpm,37843.0,473.179736,122.188847,0.00,388.00000,467.736842,555.437500,1269.571429,167.437500
comb08,37843.0,20.195809,6.623444,7.00,17.00000,19.000000,23.000000,124.000000,6.000000
comb08U,37843.0,4.549751,10.389994,0.00,0.00000,0.000000,0.000000,124.360100,0.000000
combA08,37843.0,0.581191,3.966255,0.00,0.00000,0.000000,0.000000,117.000000,0.000000
combA08U,37843.0,0.359027,3.589260,0.00,0.00000,0.000000,0.000000,116.936400,0.000000
combE,37843.0,0.190575,2.979567,0.00,0.00000,0.000000,0.000000,121.000000,0.000000
combinedCD,37843.0,0.000335,0.035284,0.00,0.00000,0.000000,0.000000,4.800000,0.000000
combinedUF,37843.0,0.000691,0.019049,0.00,0.00000,0.000000,0.000000,0.834000,0.000000
cylinders,37720.0,5.737990,1.751795,2.00,4.00000,6.000000,6.000000,16.000000,2.000000
displ,37723.0,3.318180,1.361399,0.00,2.20000,3.000000,4.300000,8.400000,2.100000
engId,37843.0,8860.308961,17829.683477,0.00,0.00000,211.000000,4505.000000,69102.000000,4505.000000
feScore,37843.0,-0.035145,2.379584,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
fuelCost08,37843.0,1882.060090,510.280408,550.00,1500.00000,1850.000000,2200.000000,5800.000000,700.000000
fuelCostA08,37843.0,79.070105,417.668580,0.00,0.00000,0.000000,0.000000,3800.000000,0.000000
ghgScore,37843.0,-0.037206,2.374338,-1.00,-1.00000,-1.000000,-1.000000,10.000000,0.000000
ghgScoreA,37843.0,-0.929630,0.627565,-1.00,-1.00000,-1.000000,-1.000000,8.000000,0.000000
highway08,37843.0,24.104881,6.963192,9.00,20.00000,24.000000,27.000000,111.000000,7.000000
highway08U,37843.0,5.438467,11.936327,0.00,0.00000,0.000000,0.000000,111.370000,0.000000
highwayA08,37843.0,0.686891,4.308934,0.00,0.00000,0.000000,0.000000,107.000000,0.000000
highwayA08U,37843.0,0.418698,3.808877,0.00,0.00000,0.000000,0.000000,106.531000,0.000000
highwayCD,37843.0,0.000233,0.029564,0.00,0.00000,0.000000,0.000000,4.060000,0.000000
highwayE,37843.0,0.198247,3.091862,0.00,0.00000,0.000000,0.000000,120.000000,0.000000
highwayUF,37843.0,0.000673,0.018583,0.00,0.00000,0.000000,0.000000,0.813000,0.000000
hlv,37843.0,2.026214,5.947989,0.00,0.00000,0.000000,0.000000,49.000000,0.000000
hpv,37843.0,10.424332,28.148770,0.00,0.00000,0.000000,0.000000,195.000000,0.000000
id,37843.0,19019.286235,11034.784855,1.00,9461.50000,18923.000000,28570.500000,38173.000000,19109.000000
lv2,37843.0,1.849219,4.429983,0.00,0.00000,0.000000,0.000000,41.000000,0.000000
lv4,37843.0,6.165658,9.743297,0.00,0.00000,0.000000,13.000000,55.000000,13.000000
pv2,37843.0,13.696113,31.269930,0.00,0.00000,0.000000,0.000000,194.000000,0.000000
pv4,37843.0,33.769125,45.914462,0.00,0.00000,0.000000,91.000000,192.000000,91.000000
range,37843.0,0.392675,8.251191,0.00,0.00000,0.000000,0.000000,315.000000,0.000000
rangeCity,37843.0,0.352618,8.049082,0.00,0.00000,0.000000,0.000000,305.900000,0.000000
rangeCityA,37843.0,0.036800,1.158270,0.00,0.00000,0.000000,0.000000,77.504000,0.000000
rangeHwy,37843.0,0.343399,8.171939,0.00,0.00000,0.000000,0.000000,346.900000,0.000000
rangeHwyA,37843.0,0.033475,1.032642,0.00,0.00000,0.000000,0.000000,65.632000,0.000000
UCity,37843.0,22.587229,9.350163,0.00,18.00000,21.000000,25.139300,197.577100,7.139300
UCityA,37843.0,0.652380,5.284547,0.00,0.00000,0.000000,0.000000,181.560900,0.000000
UHighway,37843.0,33.619221,10.048326,0.00,27.10000,33.000000,38.109600,159.100000,11.009600
UHighwayA,37843.0,0.933845,6.059456,0.00,0.00000,0.000000,0.000000,152.187800,0.000000
year,37843.0,2000.064398,10.390588,1984.00,1990.00000,2001.000000,2009.000000,2017.000000,19.000000
youSaveSpend,37843.0,-2658.999022,2553.098329,-22250.00,-4250.00000,-2500.000000,-750.000000,4000.000000,3500.000000
charge240b,37843.0,0.004360,0.142776,0.00,0.00000,0.000000,0.000000,7.000000,0.000000
phevCity,37843.0,0.069313,1.966806,0.00,0.00000,0.000000,0.000000,97.000000,0.000000
phevHwy,37843.0,0.068203,1.871986,0.00,0.00000,0.000000,0.000000,79.000000,0.000000
phevComb,37843.0,0.068573,1.913647,0.00,0.00000,0.000000,0.000000,88.000000,0.000000

In [81]:
data1 = data.copy()

In [82]:
data.dtypes

barrels08          float64
barrelsA08         float64
charge120          float64
charge240          float64
city08               int64
city08U            float64
cityA08              int64
cityA08U           float64
cityCD             float64
cityE              float64
cityUF             float64
co2                  int64
co2A                 int64
co2TailpipeAGpm    float64
co2TailpipeGpm     float64
comb08               int64
comb08U            float64
combA08              int64
combA08U           float64
combE              float64
combinedCD         float64
combinedUF         float64
cylinders          float64
displ              float64
drive               object
engId                int64
feScore              int64
fuelCost08           int64
fuelCostA08          int64
fuelType            object
                    ...
hlv                  int64
hpv                  int64
id                   int64
lv2                  int64
lv4                  int64
make                object
model               object
mpgData             object
phevBlended           bool
pv2                  int64
pv4                  int64
range                int64
rangeCity          float64
rangeCityA         float64
rangeHwy           float64
rangeHwyA          float64
trany               object
UCity              float64
UCityA             float64
UHighway           float64
UHighwayA          float64
VClass              object
year                 int64
youSaveSpend         int64
charge240b         float64
createdOn           object
modifiedOn          object
phevCity             int64
phevHwy              int64
phevComb             int64
Length: 70, dtype: object

In [83]:
data.dtypes.value_counts()

float64    32
int64      27
object     10
bool        1
dtype: int64

In [84]:
data['year'] = data['year'].astype('object')
data['year'].dtype

dtype('O')

In [85]:
print(set(data['trany']))

{nan, 'Manual 7-spd', 'Auto(AM-S8)', 'Manual(M7)', 'Auto(L4)', 'Automatic (S6)', 'Auto(AM6)', 'Automatic (S7)', 'Automatic (S4)', 'Automatic (A1)', 'Automatic (AV-S6)', 'Auto(AM-S9)', 'Auto(AM5)', 'Manual 4-spd', 'Auto(AV-S6)', 'Auto (AV)', 'Automatic (S9)', 'Auto(AV-S8)', 'Automatic (A6)', 'Automatic 9-spd', 'Automatic (AM5)', 'Auto(AM-S6)', 'Auto(L3)', 'Automatic (AV)', 'Automatic 6spd', 'Auto(AV-S7)', 'Automatic (AM6)', 'Automatic 5-spd', 'Automatic (S5)', 'Manual 6-spd', 'Auto(AM8)', 'Manual 5 spd', 'Manual 4-spd Doubled', 'Manual 3-spd', 'Automatic 6-spd', 'Manual 5-spd', 'Automatic (variable gear ratios)', 'Automatic (S8)', 'Automatic 8-spd', 'Automatic 7-spd', 'Automatic 4-spd', 'Auto(AM-S7)', 'Automatic 3-spd', 'Auto (AV-S6)', 'Auto(A1)', 'Auto(AM7)', 'Auto (AV-S8)'}

In [86]:
data['trany'] = data['trany'].str.replace('-', '')
print(set(data['trany']))

{nan, 'Manual(M7)', 'Auto(L4)', 'Automatic (S6)', 'Auto(AM6)', 'Automatic 5spd', 'Automatic (AVS6)', 'Automatic (S7)', 'Automatic (S4)', 'Automatic (A1)', 'Manual 6spd', 'Auto(AM5)', 'Auto(AVS6)', 'Auto(AVS7)', 'Automatic 7spd', 'Automatic 8spd', 'Auto (AV)', 'Automatic (S9)', 'Automatic (A6)', 'Automatic (AM5)', 'Auto(L3)', 'Automatic (AV)', 'Automatic 6spd', 'Automatic (AM6)', 'Automatic (S5)', 'Automatic 9spd', 'Manual 5 spd', 'Auto (AVS8)', 'Auto(AM8)', 'Auto(AVS8)', 'Automatic 4spd', 'Manual 7spd', 'Automatic (variable gear ratios)', 'Automatic (S8)', 'Auto(AMS7)', 'Auto(AMS9)', 'Auto(AMS6)', 'Auto (AVS6)', 'Manual 5spd', 'Manual 4spd Doubled', 'Manual 3spd', 'Auto(A1)', 'Manual 4spd', 'Auto(AM7)', 'Auto(AMS8)', 'Automatic 3spd'}

In [87]:
data['trany'] = data['trany'].str.replace('Automatic', 'Auto')
data['trany'] = data['trany'].str.replace('Auto\(', 'Auto ')
data['trany'] = data['trany'].str.replace('Manual\(', 'Manual ')
data['trany'] = data['trany'].str.replace('\(', '')
data['trany'] = data['trany'].str.replace('\)', '')
print(set(data['trany']))

{'Auto 4spd', nan, 'Manual M7', 'Auto variable gear ratios', 'Auto S6', 'Auto AM8', 'Auto AMS7', 'Auto AVS6', 'Auto S7', 'Auto AM6', 'Auto AMS9', 'Auto AM7', 'Manual 6spd', 'Auto 5spd', 'Auto L3', 'Auto A6', 'Auto 8spd', 'Auto 7spd', 'Auto 9spd', 'Auto S9', 'Manual 5 spd', 'Auto AVS7', 'Auto S4', 'Auto AV', 'Auto AMS8', 'Manual 7spd', 'Auto AMS6', 'Auto 6spd', 'Manual 5spd', 'Manual 4spd Doubled', 'Manual 3spd', 'Auto A1', 'Auto S8', 'Manual 4spd', 'Auto AM5', 'Auto 3spd', 'Auto L4', 'Auto S5', 'Auto AVS8'}

In [88]:
# data.loc[data['trany'].str.contains('Auto')]='Automatic'
# data.loc[data['trany'].str.contains('Manual')]='Manual'

In [89]:
import numpy as np
data['trany'] = np.where(data['trany'].str.contains('Auto'),"Automatic",data['trany'])
data['trany']

0        Manual 5spd
1        Manual 5spd
2        Manual 5spd
3          Automatic
4        Manual 5spd
5          Automatic
6        Manual 5spd
7          Automatic
8        Manual 5spd
9          Automatic
10       Manual 5spd
11         Automatic
12       Manual 5spd
13         Automatic
14         Automatic
15       Manual 5spd
16         Automatic
17       Manual 5spd
18         Automatic
19       Manual 5spd
20         Automatic
21         Automatic
22         Automatic
23         Automatic
24         Automatic
25       Manual 4spd
26         Automatic
27         Automatic
28         Automatic
29         Automatic
            ...
37813    Manual 5spd
37814      Automatic
37815    Manual 5spd
37816      Automatic
37817    Manual 5spd
37818      Automatic
37819      Automatic
37820    Manual 5spd
37821    Manual 4spd
37822    Manual 5spd
37823      Automatic
37824      Automatic
37825    Manual 4spd
37826    Manual 5spd
37827      Automatic
37828      Automatic
37829    Manual 5spd
37830    Manual 5spd
37831      Automatic
37832      Automatic
37833    Manual 5spd
37834      Automatic
37835      Automatic
37836    Manual 5spd
37837    Manual 5spd
37838      Automatic
37839    Manual 5spd
37840      Automatic
37841    Manual 5spd
37842      Automatic
Name: trany, Length: 37843, dtype: object

In [106]:
def change(x):
    x = x.lower()
    if 'auto' in x.split():
        x = 'Automatic'
    elif 'manual' in x.split():
        x = 'Manual'
    return(x)    
x = list(map(change, data['trany']))     
x[0:4]

['Manual', 'Manual', 'Manual', 'automatic']

In [105]:
# 'Manual' in data['trany'][0].split()
data['trany']

0        Manual 5spd
1        Manual 5spd
2        Manual 5spd
3          Automatic
4        Manual 5spd
5          Automatic
6        Manual 5spd
7          Automatic
8        Manual 5spd
9          Automatic
10       Manual 5spd
11         Automatic
12       Manual 5spd
13         Automatic
14         Automatic
15       Manual 5spd
16         Automatic
17       Manual 5spd
18         Automatic
19       Manual 5spd
20         Automatic
21         Automatic
22         Automatic
23         Automatic
24         Automatic
25       Manual 4spd
26         Automatic
27         Automatic
28         Automatic
29         Automatic
            ...
37813    Manual 5spd
37814      Automatic
37815    Manual 5spd
37816      Automatic
37817    Manual 5spd
37818      Automatic
37819      Automatic
37820    Manual 5spd
37821    Manual 4spd
37822    Manual 5spd
37823      Automatic
37824      Automatic
37825    Manual 4spd
37826    Manual 5spd
37827      Automatic
37828      Automatic
37829    Manual 5spd
37830    Manual 5spd
37831      Automatic
37832      Automatic
37833    Manual 5spd
37834      Automatic
37835      Automatic
37836    Manual 5spd
37837    Manual 5spd
37838      Automatic
37839    Manual 5spd
37840      Automatic
37841    Manual 5spd
37842      Automatic
Name: trany, Length: 37843, dtype: object

In [33]:
before = len(data)
data = data.drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  0

In [34]:
select_columns = ['make', 'model', 'year', 'displ', 'cylinders', 
                  'trany', 'drive', 'VClass','fuelType','barrels08', 
                  'city08', 'highway08', 'comb08', 'co2TailpipeGpm', 'fuelCost08']

data = data[select_columns].drop_duplicates()
after = len(data)
print('Number of duplicate records dropped: ', str(before - after))

Number of duplicate records dropped:  885