Delimited files for eg 


    Comma-separated variable (CSV) files
    Tab-delimited files
    Pipe-delimited files

Go ahead and open all the files in the folder you have downloaded right now

### Importing and Exporting Delimited Files

In [16]:
import pandas as pd
data = pd.read_csv('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles.csv')

In [17]:
type(data)

pandas.core.frame.DataFrame

In [18]:
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100


Exporting data as a different csv file after making some changes

In [23]:
data['Combined MPG'] = data['Combined MPG'] + 10
data.to_csv('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles2.csv', index=False)

In [25]:
data2 = pd.read_csv('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles2.csv')
data2.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,57,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,53,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,56,555.437500,2100


Tab Separated files

In [7]:
data = pd.read_csv('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles.csv', sep='\t')
data.head(3)

  Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0  AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Auto...
1  AM General,FJ8c Post Office,1984,4.2,6.0,Autom...
2  AM General,Post Office DJ5 2WD,1985,2.5,4.0,Au...


Pipe delimited file

In [8]:
data = pd.read_csv('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles.csv', sep='|')
data.head(3)

  Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0  AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Auto...
1  AM General,FJ8c Post Office,1984,4.2,6.0,Autom...
2  AM General,Post Office DJ5 2WD,1985,2.5,4.0,Au...

# Export tab-delimited file
data = pd.to_csv('vehicles/vehicles_tab.txt', sep='\t', index=False)

# Export pipe-delimited file
data = pd.to_csv('vehicles/vehicles_pipe.txt', sep='|', index=False)

### Importing and Exporting Excel

In [11]:
data = pd.read_excel('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles.xlsx')
data.head(3)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100

In [ ]:
#data.to_excel('vehicles/vehicles.xlsx', index=False)

### Importing and Exporting JSON

In [13]:
data = pd.read_json('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles.json', orient='records')
data.head(3)

,CO2 Emission Grams/Mile,City MPG,Combined MPG,Cylinders,Drivetrain,Engine Displacement,Fuel Barrels/Year,Fuel Cost/Year,Fuel Type,Highway MPG,Make,Model,Transmission,Vehicle Class,Year
0,522.764706,18,17,4,2-Wheel Drive,2.5,19.388824,1950,Regular,17,AM General,DJ Po Vehicle 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
1,683.615385,13,13,6,2-Wheel Drive,4.2,25.354615,2550,Regular,13,AM General,FJ8c Post Office,Automatic 3-spd,Special Purpose Vehicle 2WD,1984
2,555.437500,16,16,4,Rear-Wheel Drive,2.5,20.600625,2100,Regular,17,AM General,Post Office DJ5 2WD,Automatic 3-spd,Special Purpose Vehicle 2WD,1985

In [14]:
vehicles.to_json('/home/dawg/Documents/Ironhack/Lectures/Data/vehicles/vehicles/vehicles.json', orient='records')

NameError: name 'vehicles' is not defined