In [38]:
import numpy as np
import pandas as pd
data = pd.read_csv('vehicles.csv')

In [39]:
# data = data.iloc[0:1000][:]

In [40]:
data.head(2)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550

In [57]:
data['Transmission'].unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [41]:
data['Cylinders'].unique()

array([ 4.,  6.,  5.,  8., 12., 10.,  2.,  3., 16.])

In [46]:
data['dummy'] = np.where(data['Fuel Type']=='Regular',1, np.where(data['Fuel Type']=='Premium', 100,0))

In [47]:
data['dummy'].value_counts()

1      23587
100     9921
0       2444
Name: dummy, dtype: int64

In [52]:
def func(x):
    if x == 'Regular':
        return(9)
    elif x == 'Premium':
        return(100)
    else:
        return(0)

In [53]:
data['Dummy2'] = list(map(func,data['Fuel Type']))

In [55]:
data['Dummy2'].value_counts()

9      23587
100     9921
0       2444
Name: Dummy2, dtype: int64

In [62]:
def func2(x,y):
    if x == 'Regular' and 'Automatic' in y :
        return(9)
    elif x == 'Premium':
        return(100)
    else:
        return(0)

In [63]:
data['Dummy3'] = list(map(func2,data['Fuel Type'], data['Transmission']))

In [64]:
data['Dummy3'].value_counts()

9      15102
0      10929
100     9921
Name: Dummy3, dtype: int64