## Map

In [43]:
def half(x):
    return(x/2)

In [44]:
l = [10, 12, 34, 23]
x = map(half, l)

In [45]:
list(x)

[5.0, 6.0, 17.0, 11.5]

In [46]:
l

[10, 12, 34, 23]

In [35]:
lst = ['a', 1,2,3.0]
lst

['a', 1, 2, 3.0]

In [36]:
x = [1,2,3]
y = [4,5,6]
def add(a,b):
    return(a+b)
print(list(map(add, x, y)))

[5, 7, 9]

In [37]:
lst1 = [1,2,3,4]
lst2 = [2,3,4,5]
list(map(lambda x,y: x+y, lst1,lst2))

[3, 5, 7, 9]

## Filter

In [38]:
l

[10, 12, 34, 23]

In [42]:
x = list(filter(lambda x: x % 2 == 1, l))
x
l

[10, 12, 34, 23]

In [ ]:
list(filter(lambda x: x % 2 == 1, l))

In [48]:
import functools
l = [10, 12, 34, 23]
x = functools.reduce(lambda a, b: a + b, l)
x

79

In [49]:
functools.reduce(lambda a, b: a + b, l)

79

In [52]:
functools.reduce(lambda a, b: a if a > b else b, l)

34

In [53]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4, 3), columns=['a', 'b', 'c'])
df

          a         b         c
0  0.383259  0.779540 -0.065428
1  0.669659  0.369564  0.826348
2 -0.351165 -0.733657 -0.036512
3 -0.582754 -0.343375  0.792104

In [55]:
df['a'].apply(half)

0    0.191630
1    0.334830
2   -0.175583
3   -0.291377
Name: a, dtype: float64

In [56]:
def range_func(x):
    return max(x) - min(x)

In [57]:
max(df['a'])

0.6696593502665718

In [58]:
df.apply(range_func)

a    1.252413
b    1.513198
c    0.891776
dtype: float64

In [59]:
%%time
x = list(map(half, df['a']))
print(x)

[0.1916295168492958, 0.3348296751332859, -0.17558253831757376, -0.2913769139531299]
CPU times: user 201 µs, sys: 52 µs, total: 253 µs
Wall time: 227 µs